- name: Install Tomcat with fallback
  hosts: webserver
  become: true
  tasks:
    - block:
        - name: Try installing Tomcat9
          apt:
            name: tomcat9
            state: present
            update_cache: yes

      rescue:
        - name: Tomcat9 failed, install Tomcat10 instead
          apt:
            name: tomcat10
            state: present
            update_cache: yes
